<h1>burgers!</h1>
{{!-- For not devoured --}}
<h2>burgers that are not devoured!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
   <li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}} Eat!{{else}}didn't!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>

    {{/unless}}
  {{/each}}
</ul>
{{!-- For devoured --}}
<h2>burgers that are devoured!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}} Eat!{{else}}didn't!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>

    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="ca">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Eaten <br>
    <input type="radio" name="devoured" value="0"> Not Eaten
  </div>
{{!-- submit button --}}
  <button type="submit">Add burger</button>
</form>
